.icon {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: left;
    color: black;
}

.centered {
    position: relative;
    top: 0%;
    left: 0%;
    font-size: 600%;
}
